
.col-md-4 {
  float:right;
  background-color: #eeeeee;
}
.container-fluid {
  background-color: #00A566;
}
h1 {
  font-style: raleway; sans serif;
  font-weight: 100;
  letter-spacing: .2em;
  font-size: 4em;
  text-align: center;
  color: #ffffff;
}
h2 {
  font-style: roboto; sans serif;
  font-weight: 101;
  letter-spacing: .1em;
  font-size: 1em;
  text-align: center;
  color: white;
}
h3 {
  font-style: roboto; sans serif;
  font-weight: 130;
  letter-spacing: .2em;
  font-size: 1em;
  text-align: center;
}
